.product {
    display: flex;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    border-bottom: 1px solid lightgray;
}
.product img {
    margin-right: 10px;
    padding-right: 10px;
}
.product-name {
    color: blue;
    font-weight: 500;
}
.cart-button {
    height: 40px;
    width: 150px;
    background-color: goldenrod;
    border: 1px solid lightslategray;
    border-radius: 5px;
    cursor: pointer;
}